@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.title{
 font-size: 30px;
 font-weight: 700;
 line-height: 36px;
 text-align: center;
 text-transform: uppercase;
 color: #000;
}
 .subtitle{
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: #333;
}

.main-navigation-link{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user-link{
  color: #000000;
  text-decoration: none;
}

.favorites{
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button-all{
  font-family:inherit;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
}

.hero{
  background-image: url('../images/hero/mountains.jpg');
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-title{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  }
.advantages-description{
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: center;
color: #333;
}

.service-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.service-description{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333;
}

.hotel-search{
  font-family: PT Sans;
  background-color: #F2F2F2;
  color: #000000;
  text-align: center;

}

.button-search{
font-family: inherit;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-align: center;
text-transform: uppercase;
background-position: center;
background-color: #756157;
color: #FFFFFF;
}

.subcribe{
  background-image:url('../images/subscription/subscribe.jpg');
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
}

.subcribe-title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
color: #FFFFFF;
}

.subcribe-slogan{
font-family: PT Sans;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}

.massage{
font-family: inherit;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
color: #000;
}

.button-subscribe{
font-family: inherit;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-align: center;
text-transform: uppercase;
background-color: #82b3d3;
color: #FFF;
}

 .contacts{
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: center;
text-transform: uppercase;
color: #000000;
}

.inner-header-title{
font-size: 60px;
font-weight: 700;
line-height: 78px;
color: #FFF;
}

.breadcrumbs-link{
font-size: 16px;
font-weight: 400;
line-height: 21px;
}

.catalog-filter-title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
color: #FFF;
}

.control-input-checked{
font-family: inherit;
font-size: 18px;
font-weight: 400;
line-height: 23px;
color: #FFF;
}

.control-input{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #FFF;
}

.button-use{
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-align: center;
text-transform: uppercase;
background-color: #82b3d3;
color: #FFF;
}

.button-end{
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #FFF;
}
.choose{
  font-family: inherit;
}

.cheep{
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
color: #333;
}

.product-card-title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
color: #000;
}
.hotel-price{
font-family: PT Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 21px;
color: #333;
}

.product-card-button{
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-align: center;
text-transform: uppercase;
background-color: #756157;
color: #FFFFFF;
}

.product-card-button-to{
font-family: inherit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
text-transform: uppercase;
background-color: #82b3d3;
color: #FFFFFF;
}

.product-card-button-in{
font-family: inherit;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
text-transform: uppercase;
background-color: #7DB54F;
color: #FFFFFF;
}


.raiting{
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
text-transform: uppercase;
background-color: #F2F2F2;
color: #333;

}
